<div class="container content">
    <a name="content"></a>
    <div>
        <p class="h2">Conoce Mexico</p> 
    </div>
    <div class="row">
        <div class="col-sm-4 my-4" *ngFor="let travel of travelList">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="height: 150px; width: 100%" src="{{travel.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{travel.destination}}</h5>
                    <p class="card-text">{{travel.desc}}</p>
                    <a href="#" class="btn btn-primary">Conozca mas</a>
                </div>
            </div>
        </div>
    </div>
</div>